// Use this mixin to add common properties to col class
@mixin grid-col-common {
  // Include padding and border to elements width
  box-sizing: border-box;
  // Columns always have the defined size
  flex-grow: 0;
  flex-shrink: 0;
  // Keep flex-basis out of common!
  // Padding is half the gutter
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
}
@mixin grid-cols($media) {
  .col-#{$media} {
    @include grid-col-common;
    flex-basis: auto;
  }
  @for $counter from 1 through $cols {
    $width: 100% / $cols * $counter;
    .col-#{$media}-#{$counter} {
      @include grid-col-common;
      flex-basis: $width;
      max-width: $width;
    }
  }
}
// Loop through all breakpoints and create col classes
@each $breakpoint in $breakpoints {
  $media: nth($breakpoint, 1); // xs, sm, etc.
  @if $media == xs {
    @include grid-cols($media);
  } @else {
    $size: nth($breakpoint, 2); // viewport width, pixel
    @media only screen and (min-width: $size) {
      @include grid-cols($media);
    }
  }
}
