$cols: 12; // columns per row
$gutter: 20px; // default gutter
$container-width: 100%;
// Define breakpoints
$breakpoints:
  // First breakpoint size should be empty!
  xs, // extra small devices, <568px; always applies
  sm 568px, // mobile devices, >=568px
  md 768px, // tablets, >=768px
  lg 1024px, // desktops, >=1024px
  xl 1280px; // large desktops, >=1280px
